.navbar {
  background: linear-gradient(to right, #eb4871f3, #ee7f5af6) !important;
  transition: 0.3s ease-in-out;
}
.navbar.active {
  background: linear-gradient(to right, #ee7f5af6, #eb4871f3) !important;
  transition: 0.3s ease-in-out;
}

.navbar-brand {
  color: rgb(255, 255, 255) !important;
  font-size: 30px;
  font-weight: 500;
}

.nav-links a {
  font-size: 18px;
  color: rgb(255, 255, 255) !important;
}

/* media queries */
@media screen and (max-width: 991px) {
  .navbar {
    background: linear-gradient(to right, #ee7f5af6, #eb4871f3) !important;
  }
}
