.footer-container {
  background: url(../../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  color: white;
}

.copyright-text {
  padding-top: 20px;
}

.copyright-text p {
  text-align: center;
  margin: 0;
  color: rgba(255, 255, 255, 0.836);
  padding: 5px 0;
}
