.discount-container {
  margin-top: 100px;
  background-image: url("../../../images/discount-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 10px;
}

.discount-details h1 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.register-btn {
  background: linear-gradient(to right, #ee7f5a, #eb4871);
  color: white;
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
  padding: 2px 20px;
}
